---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Blog">
    <div class="card" style="text-align: center;">
        <h2 style="font-style: italic;">"So Grateful"</h2>
        <p style="font-size: 1.2rem; max-width: 600px; margin: 0 auto;">
            "I'm finally a homeowner (Yay!) and watching my children prepare for graduation 
            fills my heart with so much pride. Life at ***** Eye Care has been the perfect 
            place for me to grow..."
        </p>
    </div>
</MainLayout>
