---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Life Reflections">
	<h1>Grateful Hearts</h1>
	<article class="blog-post">
		<p class="date">Posted on March 2026</p>
		<p>
			I am so grateful for the blessings I have been given in this lifetime. 
			Both my children are about to graduate, I'm finally a homeowner [Yay!], 
			and ***** Eye Care has provided me the perfect environment and tools 
			needed to become an even better version of myself.
		</p>
		<p>Living and working in Virginia has been such a journey, and I am excited for what comes next!</p>
	</article>
</MainLayout>
